<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort festlegen</title>
</head>
<body>
<p>Hallo <b th:text="${name}"></b>,</p>
<p>Sie wurden eingeladen, sich auf unserer Plattform zu registrieren! Bitte klicken Sie auf den folgenden Link, um Ihr Passwort festzulegen:</p>
<p><a th:href="${url}" target="_blank">Passwort festlegen</a></p>
<p>Ihr Einladungscode: <b th:text="${token}"></b></p>
<p>Wir freuen uns, Sie an Bord zu haben!</p>
<p>Mit freundlichen Grüßen<br>Ihr Team</p>
</body>
</html>
