<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen</title>
</head>
<body>
<p>Hallo <b th:text="${name}"></b>,</p>
<p>Sie haben eine Anfrage zum Zurücksetzen Ihres Passworts gestellt. Bitte klicken Sie auf den folgenden Link, um ein neues Passwort festzulegen:</p>
<p><a th:href="${url}" target="_blank">Passwort zurücksetzen</a></p>
<p>Ihr Bestätigungscode: <b th:text="${token}"></b></p>
<p>Falls Sie diese Anfrage nicht gestellt haben, ignorieren Sie diese E-Mail bitte.</p>
<p>Mit freundlichen Grüßen<br>Ihr Team</p>
</body>
</html>
